<section class="section">
  <div class="container">
    <div class="column form__column">
      <div class="section__header">
        <h2 class="section__title">Регистрация</h2>
      </div>

      <form class="form auth_form" id="auth_form">
        <div class="container">
          <div class="form__group form__item">
            <label for="name"><b>Имя</b></label>
            <input class="item__text" id="name" type="text" placeholder="Введите аше имя" autocomplete="name">
          </div>

          <div class="form__group form__item">
            <label for="email"><b>Почта</b></label>
            <input class="item__text" id="email" type="text" placeholder="Введите email" required="required" autocomplete="email">
          </div>

          <div class="form__group form__item">
            <label for="login"><b>Логин</b></label>
            <input class="item__text" id="login" type="text" placeholder="Введите login" required="required" autocomplete="username" minlength="3" maxlength="20">
          </div>

          <div class="form__group form__item">
            <label for="psw"><b>Пароль</b></label>
            <input class="item__text" id="password" type="password" placeholder="Введите пароль" required="required" autocomplete="new-password">
          </div>

          <div class="form__group form__item">
            <label for="psw-repeat"><b>Повторите пароль</b></label>
            <input class="item__text" id="password-repeat" type="password" placeholder="Введите пароль еще раз" name="psw-repeat" required="required" autocomplete="new-password">
          </div>

          <div class="form__line form__item">
            <input type="checkbox" required>
            <span class="confirm">Нажимая кнопку "Зарегистрироваться", Вы даёте свое согласие на обработку введенной персональной информации в соответствии с Федеральным Законом "О персональных данных"</span>
          </div>

          <div class="form__group form__item">
            <button type="submit" class="user" id="add">Зарегистрироваться</button>
          </div>
        </div>
      </form>

      <span class="container form__line" id="login">Уже есть аккаунт? <a href="/login">Войти</a></span>

    </div>
  </div>
</section>

<script src="/scripts/auth/signup.js"></script>