<footer class="column">
  <p>pages for <strong>ITMO Web-programming course</strong></p>
  <div>
    &copy;
    <time datetime="2021-12-22">2021</time>
    <a class="link footer__link" href="https://www.instagram.com/nook_of_madness/">madness.inc</a>
  </div>

  <div class="footer__time">
    <span>Total load time: <span id="load__time"></span>ms (client) + {{time}}ms (server)</span>
  </div>
</footer>
