<header class="header__fixed">
  <div class="container">
    <div class="header__menu">
      <div class="header__logo">
        <img src="/images/header-logo.jpg" alt="">
      </div>

      <nav class="nav">
        <a class="link nav__link" href="/">Главная</a>
        <a class="link nav__link" href="/different">Разное</a>
        <a class="link nav__link" href="/physics">Физика</a>
        <a class="link nav__link" href="/gallery">Галерея</a>
        <a class="link nav__link" href="/operation">Операция Ы</a>
        <a class="link nav__link" href="/form">Форма</a>
        <a class="link nav__link" href="/loaded_pictures">Запрос</a>
      </nav>

      {{#if is_auth}}
        {{> logout }}
      {{else}}
        {{> login }}
      {{/if}}

    </div>
  </div>
</header>
