<div class="column" id="loggedin_template">
  <span class="login__info">Logged in as <span id="user__login">{{login}}</span></span>
  <button type="button" class="login__button nav link" id="logout" onclick=onLogOut()>Выйти</button>
</div>
