/*  Gallery  */
.image__slider {
    margin-bottom: 50px;
    padding-bottom: 30px;
}

/*  Скролл-бар  */
.image__slider .swiper-scrollbar-drag {
    cursor: pointer;
    background-color: var(--light_blue);
}

/*  Слайды  */
.swiper-slide {
    opacity: 0.6;
}

.swiper-slide-active {
    opacity: 1;
}

.gallery__item {
    display: block;
    overflow: hidden;
    text-align: center;
}

.gallery__item img {
    max-height: 80vh;
    width: 100%;
    transition: opacity .2s linear;
}

/*  Стрелки  */
.image__slider .swiper-button-prev::after,
.image__slider .swiper-button-next::after {
    color: var(--dark_yellow);
    font-size: 60px;
}
