:root {
    --black: rgb(1, 1, 2);
    --dark_background: rgb(158, 158, 161);
    --normal_background:rgb(184, 185, 188);
    --light_background: rgb(215, 216, 219);

    --border_gray: #404043;
    --shadow_gray: #656568;

    --light_yellow: #d4aa34;
    --dark_yellow: #a77f11;
    --dark_text: rgb(50, 50, 51);

    --light_blue: rgb(72, 72, 114);
    --light_red: rgb(211, 58, 58);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
    min-width: 0;
    margin: 0;
    background-color: var(--normal_background);
    
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #242629;
    display: flex;
    flex-direction: column;
}

button {
    outline: none;
    border: none;
}

.content {
    padding-top: 50px;
    flex-grow: 1;
}

/*  Header  */

.header__fixed {
    width: 100%;
    position: fixed;
    margin-top: 0;
    z-index: 100;
    background-color: var(--black);
    box-shadow: 0 10px 20px var(--black);
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    margin: 5px 5px;
}

.header.scrolled {
    background-color: var(--light_background);
}


/*  Navigation  */

.nav {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}

.link {
    transition: opacity .2s linear;
    opacity: .7;
    color: var(--dark_text);
}

.link:hover {
    opacity: 1;
    color: var(--light_yellow);
}

.nav__link {
    margin-right: 50px;
    color: #fff;
}

.login__button {
    outline: none; /* Для синий ободки */
    border: 0;
    background: transparent;
    color: #fff;
}

.login__info {
    color: var(--light_yellow);
    opacity: .7;
}

.active {
    font-weight: bold;
    text-decoration: underline;
}


/*  Intro  */

.intro {
    background-color: #2d2e33;
    box-shadow: 0 10px 20px 15px #242629;

    margin: auto;
    position: relative;
}

.intro_img {
    width: 100%;
}

.intro__title {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: var(--normal_background);

    position: absolute;
    top: 40%;
    transform: translate(0, -50%)
}

.quote {
    right: 20px;
    bottom: 20px;
    position: absolute;

    width: 70%;
    max-width: 650px;
    font-family: 'Cardo', serif;
    text-align: right;
}

.quote__intro {
    color: var(--light_yellow);
}

.quote__text{
    font-size: 30px;
}

.quote__author{
    font-size: 24px;
    font-style: italic;
}

@media (max-width: 350px) {
    .intro__title {
        font-size: 40px;
    }

    .quote {
        right: 5px;
    }

    .quote__text{
        font-size: 20px;
    }
    
    .quote__author{
        font-size: 15px;
    }
}

@media (max-width: 250px) {
    .intro__title {
        font-size: 20px;
    }
}

@media (max-width: 200px) {
    .quote {
        display: none;
    }
}


/* Container */
.container {
    width: 100%;
    margin: 0 auto;
}

.inner {
    width: 75%;
    max-width: 2000px;
    margin: auto;
    padding: 0 10px;
}

@media (max-width: 1300px) {
    .inner {
        width: 100%;
        max-width: 1000px;
    }
}


/*  Section  */
.section {
    padding: 50px 0 0;
}

.section__header {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.section__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.section__title::after {
    display: block;
    width: 100%;
    max-width: 120px;
    height: 3px;
    margin: 10px auto 30px;
    content: "";    
    background-color: var(--light_yellow);
}


/*  Card  */
.card {
    flex: 1 1 0;
    position: relative;
    border-radius: 5px;
    background-color: var(--normal_background);
    margin: 5px 0;
}


/*  Rows  */
.row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 1%;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1%;
    padding: 10px;
}


/*  Skills  */
@media (max-width: 700px) {
    .skills__row {
        flex-direction: column;
    }
}

.skills__card{
    padding: 5px 15px 5px 65px;
    border: solid 3px var(--border_gray);
    box-shadow: 10px 5px 5px var(--shadow_gray);
    color: var(--dark_text);
}

.skills__icon {
    position: absolute;
    margin: auto;
    left: 15px;
    z-index: 1;
}

.skills__title {
    margin-bottom: 10px;
    margin-left: 24px;

    font-size: 20px;
    text-transform: uppercase;
}

.skills__text {
    font-size: 15px;
    opacity: 0.9;

    text-align: justify;
}

@media (max-width: 350px) {
    .skills__card {
        padding: 5px 20px 5px 0;
    }

    .skills__icon {
        display: none;
    }
}

@media (max-width: 350px) {
    .skills__item {
        padding: 5px 20px 5px 0;
    }

    .skills__icon {
        display: none;
    }
}

/*  Jobs  */
.jobs__container {
    background-color: var(--dark_background);
    padding: 20px 0;
}

@media (max-width: 760px) {
    .jobs__row {
        flex-direction: column;
    }
}

.job__card {
    padding: 2%;
    box-shadow: 10px 5px 5px var(--shadow_gray);
}

.job__card:hover {
    background-color: var(--light_background);
}

.job__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.job__position {
    font-size: 20px;
    color: var(--dark_text);
    text-transform: uppercase;
}

.job__header__item:hover {
    border: solid 1px var(--light_yellow);
}

.job__place {
    margin-bottom: 10px;
    font-size: 20px;
    color: var(--dark_yellow);
    text-transform: uppercase;
    opacity: .7;

    text-align: right;
}

.job__time {
    font-size: 16px;
    color: var(--dark_text);
    opacity: .7;
    text-align: right;
}

.jobs__footer {
    margin: 15px 0;
    background-color: var(--normal_background);
    box-shadow: 10px 5px 5px var(--shadow_gray);
    border: solid 3px var(--border_gray);
    border-radius: 7px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jobs__footer__link {
    margin: 10px 25px;

    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

@media (max-width: 350px) {
    .jobs__footer {
        flex-wrap: wrap;
    }
}


/*  Different  */

.code__text {
    font-size: 20px;
    color: var(--dark_text);
    text-align: left;
    opacity: .7;
}

@media (max-width: 390px) {
    .code__text {
        display: none;
    }
}

.bottom {
    font-size: 20px;
    color: var(--dark_yellow);
    font-family: 'Cardo', serif;
    text-align: right;
}


/*  Graphicks  */
.ascii__art {
    color: var(--dark_yellow);
    font-weight: bold;
}

.ascii__container {
    background-color: var(--dark_background);
    padding: 20px 0;
}

@media  (max-width: 650px) {
    .ascii__container {
        display: none;
    }
}

.iscii__row {
    gap: 0;
}

@media (max-width: 1000px) {
    .iscii__row {
        flex-direction: column;
    }
}

.ascii__item {
    padding: 0 10px;
    border: solid 3px var(--border_gray);
    margin: 5px;
}


/*  Physics*/

.formula {
    font-size: 20px;
    color: var(--dark_text);
    text-align: right;
    opacity: .7;
}

.formula__bottom {
    font-size: 20px;
    color: var(--dark_yellow);
    font-family: 'Cardo', serif;
    text-align: right;

    right: 10%;
    bottom: 10%;
}

@media  (max-width: 850px) {
    .formula {
        font-size: 15px;
    }
}

.hidden {
    margin: 0 10px 15px;
}

@media  (max-width: 660px) {
    .hidden {
        display: none;
    }
}

.phys__link {
    padding: 2%;
    border: solid 2px var(--border_gray);
    
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
}

.phys__link:hover {
    background-color: var(--light_background);
}

/*  Table  */
.table__group {
    margin-top: 30px;
    align-items: center;
}

.table__title {
    margin-bottom: 10px;
    margin-left: 24px;

    font-size: 20px;
    color: var(--dark_text);
    text-transform: uppercase;
    text-align: left;
}

.table__responsive {
    overflow-x: auto;
    box-shadow: 0 5px 15px var(--shadow_gray);
}

.table {
    width: 100%;
    border: solid 2px var(--border_gray);
    border-collapse: collapse;
}

.table th {
    text-align: center;
    padding: 10px;
    background: rgb(158, 158, 161);
    border: solid 1px var(--border_gray);
}

.table td{
    text-align: center;
    padding: 10px 25px;
    opacity: .7;
    transition: opacity .2s linear;
}

.table td:not(:last-child) {
    border-right: solid 1px var(--border_gray);
}

.table tbody tr:nth-child(even) {
    background-color: var(--light_background);
}

.table tbody tr:hover {
    background: var(--light_yellow);
}

.graph {
    display: block;
    width: 70%;
    margin: 15px auto;
    box-shadow: 0 5px 15px var(--shadow_gray);
    opacity: .7;
}

@media  (max-width: 660px) {
    .graph {
        width: 100%;
    }
}

@media  (max-width: 450px) {
    .graph {
        display: none;
    }
}

/*  Gallery  */

.gallery {
    max-width: 2000px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
}


/*  Footer  */
footer {
    background-color: var(--black);
    width: 100%;
    text-align: center;
    color: var(--dark_yellow);

    position: relative;
    display: flex;
}

.footer__link {
    color: var(--light_yellow);
}

@media (min-width: 600px) {
    .footer__time {
        right: 10px;
        bottom: 10px;
        position: absolute;

        text-align: right;
        font-size: 12px;
        z-index: 2;
    }
}
