<section class="section">
    <div class="container">
        <div class="section__header" id="different">
            <h2 class="section__title">Разное</h2>
        </div>

        <article class="inner">
            <pre class="code__text"><code>
def experience() :
    return "Endless vain study."
            </code></pre>
            <p class="bottom">На это я потратила пол жизни</p>
        </article>
    </div>

    <div class="container ascii__container">
        <div class="inner">

            <div class="row iscii__row">
                <div class="card column">
                    <div class="card ascii__item">
                        <pre class="ascii__art">
 _______ _______ ________________________   _______ ________________
(  ___  (  ____ (  ____ \__   __\__   __/  (  ___  (  ____ \__   __/
| (   ) | (    \| (    \/  ) (     ) (     | (   ) | (    )|  ) (   
| (___) | (_____| |        | |     | |     | (___) | (____)|  | |   
|  ___  (_____  | |        | |     | |     |  ___  |     __)  | |   
| (   ) |     ) | |        | |     | |     | (   ) | (\ (     | |   
| )   ( /\____) | (____/___) (_____) (___  | )   ( | ) \ \__  | |   
|/     \\_______(_______\_______\_______/  |/     \|/   \__/  )_(   
                        </pre>
                        <p class="bottom">Ascii Art</p>
                    </div>

                    <div class="card ascii__item">
                        <pre class="ascii__art">
                                  8888888888
                              888888888888  888888
                          888888888888  8888
                        8888888888  888888
                      8888888888  88888888
                  88  88888888888888
                8888888888888888
                8888888888888888    8888888888
                  888888888888888888888888888888
                      8888888888888888888888888888
                     888888888888888888888888888888888
                     88888888888888888        88888888
                    8888888888888888  88888888  888888
                   88888888888888  888888888888  8888    88
                  88888888888888  888888888888888888  8888
                  8888888888888888  8888888888888888  8888
                    88888888    8888  888888888888888888
                     8888888            88888888888888
                  8888888888    8888888888888888
                      88888888     8888888888888
                        </pre>
                        <p class="bottom">Кролик</p>
                    </div>

                    <div class="card ascii__item">
                        <pre class="ascii__art">
            ____                                    ?~~bL
            z@~ b                                    |  `U,
           ]@[  |                                   ]'  z@'
           d@~' `|, .__     _----L___----, __, .  _t'   `@j
          `@L_,   "-~ `--"~-a,           `C.  ~""O_    ._`@
           q@~'   ]P       ]@[            `Y=,   `H+z_  `a@
           `@L  _z@        d@               Ya     `-@b,_a'
            `-@d@a'       )@[               `VL      `a@@'
              aa~'   ],  .a@'                qqL  ), ./~
              @@_  _z~  _d@[                 .V@  .L_d'
               "~@@@'  ]@@@'        __      )@n@bza@-"
                 `-@zzz@@@L        )@@z     ]@@=%-"
                   "~~@@@@@bz_    _a@@@@z___a@K
                       "~-@@@@@@@@@@@@@@@@@@~"   jrd
                          `~~~-@~~-@@~~~~~'
                        </pre>
                        <p class="bottom">Круассан</p>
                    </div>
                </div>

                <div class="card column">
                    <div class="card ascii__item">
                        <pre class="ascii__art">
    |oooo|        |oooo|
    |oooo| .----. |oooo|
    |Oooo|/\_||_/\|oooO|
    `----' / __ \ `----'
    ,/ |#|/\/__\/\|#| \,
   /  \|#|| |/\| ||#|/  \
  / \_/|_|| |/\| ||_|\_/ \
 |_\/    o\=----=/o    \/_|
 <.>      |=\__/=|      <.>
 <.>      |------|      <.>
 | |   ___|======|___   | |
//\\  / |O|======|O| \  //\\
|  |  | |O+------+O| |  |  |
|\/|  \_+/        \+_/  |\/|
\__/  _|||        |||_  \__/
      | ||        || |
     [==|]        [|==]
     [===]        [===]
      >_<          >_<
     || ||        || ||
     || ||        || ||
     || ||        || ||   -- Jay Thaler 
   __|\_/|__    __|\_/|__
  /___n_n___\  /___n_n___\
                        </pre>
                        <p class="bottom">Робот</p>
                    </div>

                    <div class="card ascii__item">
                        <pre class="ascii__art">
                 _________
                |#########|
                |#########|
                |#########|
                |#########|
                |#########|
              __|_________|__
                |     '_ ' \
                F     (.) (.)--.__
               /                  `.
              J                    |
              F       ._          .'
             J          `-.____.-'
             F           \
            J             \
            |              \---
            |  .  `.        \_E
            |   `.  `.       L
   ,,,      |     `.  `.     |
  \VVV'     |       `.  `    |
   \W|      J         ```    F
    `.    .' \              /
      `--'    )    ____.-  '
             /    /   `.   `.  .-
            /   .'      `.   `' /
            `.  \         `.   /
              `._|          `-'    TJ/mh/TVK
                        </pre>
                        <p class="bottom">Moomintroll</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
