<section class="section">
    <div class="container">
        <div class="section__header" id="gallery">
            <h2 class="section__title">Галерея</h2>
        </div>

        <!-- Slider main container -->
        <div class="image__slider swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
              <!-- {{#each images}} -->
                  <div class="swiper-slide">
                      <div class="gallery__item">
                          <img src="/images/gallery/1.jpg" alt="">
                      </div>
                  </div>
              <!-- {{/each}} -->

                <div class="swiper-slide">
                    <div class="gallery__item">
                        <img src="/images/gallery/2.jpg" alt="">
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="gallery__item">
                        <img src="/images/gallery/3.jpg" alt="">
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="gallery__item">
                        <img src="/images/gallery/4.jpg" alt="">
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="gallery__item">
                        <img src="/images/gallery/5.jpg" alt="">
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="gallery__item">
                        <img src="/images/gallery/6.jpg" alt="">
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="gallery__item">
                        <img src="/images/gallery/7.jpg" alt="">
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="gallery__item">
                        <img src="/images/gallery/8.jpg" alt="">
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="gallery__item">
                        <img src="/images/gallery/9.jpg" alt="">
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="gallery__item">
                        <img src="/images/gallery/10.jpg" alt="">
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="gallery__item">
                        <img src="/images/gallery/11.jpg" alt="">
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="gallery__item">
                        <img src="/images/gallery/12.jpg" alt="">
                    </div>
                </div>

            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>
    </div>
</section>

<!-- swiper -->
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script src="/scripts/swiper_slider.js"></script>