<div class="inner">
  <div class="intro">
    <img class="intro_img" src="/images/intro-bg.jpg" alt="">

    <h1 class="intro__title">Уголок безумия KulED</h1>

    <blockquote class="quote quote__intro">
      <p class="quote__text">Невозможное было возможно. Но возможное — было мечтой.</p>
      <cite class="quote__author">Александр Александрович Блок</cite>
    </blockquote>

  </div>
</div>

<section class="section">
  <div class="inner">
    <div class="section__header">
      <h2 class="section__title">Навыки</h2>
    </div>

    <div class="row skills__row">
      <div class="card skills__card">
        <div class="skills__icon">
          <img src="/images/skills/hard.png" alt="">
        </div>

        <div class="skills__title">Hard skills</div>
        <div class="skills__text">
          <ol>
            <li>Делаю любое задание <em>быстро и качественно</em>, <b>когда мне не больно</b></li>
            <li>Болею примерно постоянно</li>
            <li>Пью таблетки <b>чаще</b>, чем сплю</li>
            <li>Мастерски удерживаю уровень отчаяния на планке <b>пииии....</b></li>
          </ol>
        </div>
      </div>

      <div class="card skills__card">
        <div class="skills__icon">
          <img src="/images/skills/soft.png" alt="">
        </div>

        <div class="skills__title">Soft skills</div>
        <div class="skills__text">
          <ol reversed>
            <li>
              <del>Не убегаю</del>
              , когда кто-то пытается со мной заговорить
            </li>
            <li>Заикаюсь
              <del>только через слово</del>
              во время презентаций
            </li>
            <li>Готовлю <em>хорошие тексты</em>,
              <del>но представлять их не заставите!</del>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container jobs__container">
    <div class="inner">
      <div class="section__header">
        <h2 class="section__title">Должности</h2>
      </div>

      <div class="row jobs__row" id="jobs__row">
        <template id="template__loaded__job">
          <div class="card job__card">
            <a class="link get_job" id="job__href" href="">
              <div class="job__header">
                <h3 class="job__position" id="job__position"></h3>
              </div>

              <div class="job__place" id="job__place"></div>
              <div class="job__time">
                <span id="job__start_time"></span> -
                <span id="job__end_time"></span>
              </div>
            </a>
          </div>
        </template>
      </div>

      <div class="jobs__footer">
        <a href="" class="link jobs__footer__link">Посмотреть резюме</a>
        <a href="/jobs-list" class="link jobs__footer__link">Больше проектов</a>
      </div>
    </div>
  </div>
</section>

<script src="/scripts/index.js"></script>