<section class="section">
  <div class="container">
    <div class="column form__column">
      <div class="section__header">
        <h2 class="section__title">Регистрация</h2>
      </div>

      <form class="form">
        <div class="container">
          <div class="form__group form__item">
            <label for="email"><b>Почта</b></label>
            <input class="item__text" id="email" type="text" placeholder="Введите email" required="required">
          </div>

          <div class="form__group form__item">
            <label for="psw"><b>Пароль</b></label>
            <input class="item__text" id="password" type="password" placeholder="Введите пароль" required="required">
          </div>

          <div class="form__group form__item">
            <label for="psw-repeat"><b>Повторите пароль</b></label>
            <input class="item__text" type="password" placeholder="Введите пароль еще раз" name="psw-repeat" required>
          </div>

          <div class="form__line form__item">
            <input type="checkbox" required>
            <span class="confirm">Нажимая кнопку "Зарегистрироваться", Вы даёте свое согласие на обработку введенной персональной информации в соответствии с Федеральным Законом "О персональных данных"</span>
          </div>

          <div class="form__group form__item">
            <button type="submit" class="user" id="add">Зарегистрироваться</button>
          </div>
        </div>
      </form>

      <span class="container form__line" id="login">Уже есть аккаунт? <a href="#">Войти</a></span>

    </div>
  </div>
</section>