<section class="section">
  <div class="container">
    <div class="column form__column">
      <div class="section__header">
        <h2 class="section__title">Вход</h2>
      </div>

      <form class="form auth_form">
        <div class="container">
          <div class="form__group form__item">
            <label for="email"><b>Почта</b></label>
            <input class="item__text" id="email" type="text" placeholder="Введите email" required="required">
          </div>

          <div class="form__group form__item">
            <label for="psw"><b>Пароль</b></label>
            <input class="item__text" id="password" type="password" placeholder="Введите пароль" required="required">
          </div>

          <div class="form__group form__item">
            <button type="submit" class="user" id="add">Войти</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>