<section class="section">
    <div class="inner">
        <div class="section__header" id="operation">
            <h2 class="section__title">операция Ы</h2>
            <p><small>(Just because the task is)</small></p>
        </div>
    </div>
</section>
