<section class="section">
    <div class="inner">
        <div class="section__header" id="physics">
            <h2 class="section__title">Физика</h2>
        </div>

        <div class="hidden">
            <div class="formula">
                <p>сон<sub>ночной</sub> + сон<sub>дневной</sub> + силы<sub>-> 0</sub> + боль<sup>-> бесконечность</sup>= (надо идти к врачу)<sup>сейчас же</sup></p>
            </div>
            <div class="formula__bottom">формула моей жизни</div>
        </div>

        <div class="row">
            <a class="card link phys__link" href="https://vk.com/video/@sibypt/playlists?z=video-19771285_171236063%2Fpl_-19771285_54170716"  target="_blank">СИБ ТЮФ 2015</a>
            <a class="card link phys__link" href="https://vk.com/video/@sibypt/playlists?z=video-19771285_171792938%2Fpl_-19771285_55403367"  target="_blank">СИБ ТЮФ 2016</a>
            <a class="card link phys__link" href="https://vk.com/video/@ros_ypt?z=video-44049348_456239017%2Fclub44049348%2Fpl_-44049348_-2"  target="_blank">РОС ТЮФ 2016</a>
        </div>

        <div class="table__group">
            <div class="table__title">зависимость напряжения от температуры куба Лесли
                в четвертой степени</div>

            <div class="table__responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>T, 'C</th>
                            <th>T, K</th>
                            <th>X, K^4</th>
                            <th>Uwhite, мВ</th>
                            <th>Ushine, мВ</th>
                            <th>Ublack, мВ</th>
                            <th>Umat, мВ</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>30</td>
                            <td>303.15</td>
                            <td>84.456</td>
                            <td>0.397</td>
                            <td>0.023</td>
                            <td>0.382</td>
                            <td>0.058</td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td>45</td>
                            <td>318.15</td>
                            <td>102.454</td>
                            <td>1.707</td>
                            <td>0.085</td>
                            <td>1.616</td>
                            <td>0.235</td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>60</td>
                            <td>333.15</td>
                            <td>123.185</td>
                            <td>3.206</td>
                            <td>0.16</td>
                            <td>3.03</td>
                            <td>0.435</td>
                        </tr>

                        <tr>
                            <td>4</td>
                            <td>75</td>
                            <td>348.15</td>
                            <td>146.915</td>
                            <td>4.925</td>
                            <td>0.241</td>
                            <td>4.672</td>
                            <td>0.67</td>
                        </tr>

                        <tr>
                            <td>5</td>
                            <td>90</td>
                            <td>363.15</td>
                            <td>173.918</td>
                            <td>6.89</td>
                            <td>0.337</td>
                            <td>6.489</td>
                            <td>0.933</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <img class="graph" src="../../public/images/graph.png" alt="">
        </div>
    </div>
</section>
