<section class="section gallery">
  <div class="inner">
    <div class="section__header" id="gallery">
      <h2 class="section__title">Посты</h2>
    </div>

    <div id="posts__wrapper">
      <template id="template__post">
        <div class="post__card">
          <div class="post__title">
            <h3 id="post__title">title</h3>
          </div>

          <div class="post__info">
            <span>автор: <a href="#" target="_blank" id="author__login">Alex Parker</a></span>
          </div>

          <p id="post__short_content">Lorem ipsum dolor sit amet</p>

          <a href="/posts/id/{{id}}">
            <button type="button" class="card__button">Редактировать</button>
          </a>
        </div>
      </template>
    </div>

  </div>
</section>